body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(//i.pinimg.com/originals/5b/fe/84/5bfe8412b4764e1845bb791ce65e2ec6.jpg);
  background-repeat: round;
  background-color: lavender;
  min-height: 100vh;
}
