.Topics__object {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 154px);
}

.Topics__title {
    background: url(//www.strategium.ru/forum/uploads/set_resources_2/6ba47b3b9d5f0e1fc1c153af56aeb982_b_maintitle_left.png) no-repeat left,
                url(//www.strategium.ru/forum/uploads/set_resources_2/6ba47b3b9d5f0e1fc1c153af56aeb982_maintitle_bg.jpg) no-repeat 50% 25%,
                url(//www.strategium.ru/forum/uploads/set_resources_2/6ba47b3b9d5f0e1fc1c153af56aeb982_b_maintitle_right.png) no-repeat right;
    color: white;
    padding: 10px 20px 20px;
    text-align: center;
    z-index: 1;
}

.Topics__list-items {
    list-style: none;
    padding: 0 20px;
}

.Topics__item {
    border: 1px solid;
    height: 60px;
    margin: 10px 0;
    transition: .4s;
}

.Topics__item:hover {
    background-color: antiquewhite;
    box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.14);
    transform: translateY(-2px);
}

.Topics__underlist-block {
    background-color: lightsteelblue;
    border-top: 2px solid;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: auto;
    min-height: 40px;
}

.Topics__create-object-form {
    display: flex;
    flex-flow: column;
    margin: auto;
    min-height: 200px;
    width: 80%;
}

.Topics__input {
    margin: 10px 0;
    padding: 5px;
    text-indent: 10px;
}

.Topics__input_textarea {
    min-height: 120px;
    padding: 5px;
    text-indent: 10px;
}

.Topics__buttons-block {
    display: flex;
    margin: auto;
    width: 50%;
}

.Topics__submit-button,
.Topics__cancelling-button {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    flex: 1;
    font-size: 20px;
    letter-spacing: 4px;
    margin: 5px;
    padding: 5px;
    transition: .5s;
}

.Topics__submit-button:hover {
    background-color: greenyellow;
    flex: 2;
}

.Topics__cancelling-button:hover {
    background-color: red;
    flex: 2;
}

.Topics__create-object-button {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    width: 200px;
}
