.Comments {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 154px);
}

.Comments__unauthorized-error {
    align-items: center;
    font-size: calc(20px + 10 * (100vw / 1600));
    display: flex;
    height: 20vh;
    justify-content: center;
}

.Comments__start-topic-block {

}

.Comments__topic-title {
    background-color: antiquewhite;
    border-bottom: 2px dotted;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.Comments__list-items {
    list-style: none;
    padding: 0 20px;
}

.Comments__item {

}
