.Authentication {
    height: 130px;
    display: flex;
    padding: 10px;
    text-align: right;
}

.Authentication__form-errors {
    background-color: red;
    left: 0;
    padding: 10px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.Authentication__form-errors-text {
    color: white;
    cursor: default;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.Authentication__logo-block {
    background: url(//steamuserimages-a.akamaihd.net/ugc/535147145293162318/CBC53C04E4AE109696270F09D8FDD06CA5F9802F/) no-repeat;
    background-size: contain;
    height: 170px;
    margin: 0 2vw;
    position: relative;
    top: -15px;
    width: 400px;
}

.Authentication__logo-block:hover {
    background: url(//steamuserimages-a.akamaihd.net/ugc/535147145293162318/CBC53C04E4AE109696270F09D8FDD06CA5F9802F/) no-repeat,
                radial-gradient(circle, rgba(255, 255, 255, 1) 40%, rgba(0, 0, 0, 0) 70%);
    background-size: contain;
    z-index: 2;
}

.Authentication__container {
    align-items: baseline;
    display: flex;
    flex: 1;
    flex-flow: wrap-reverse;
    height: 100%;
    justify-content: flex-end;
}

.Authentication__form {
    display: inline;
    flex-basis: 100%;
}

.Authentication__input {
    margin: 0 10px;
}

.Authentication__toggle-button,
.Authentication__submit-button {
    background: none;
    border: 0;
    border-left: 1px solid;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    padding: 0 10px;
}

.Authentication__deauth-link,
.Authentication__registration-link {
    background: none;
    border: 0;
    border-left: 1px solid;
    color: inherit;
    font-size: 20px;
    height: auto;
    outline: none;
    padding: 0 10px;
    text-decoration: none;
    text-indent: 0;
}

.Authentication__toggle-button:hover,
.Authentication__submit-button:hover,
.Authentication__deauth-link:hover,
.Authentication__registration-link:hover {
    color: red;
}

.Authentication__user-info {
    background-color: black;
    color: white;
    display: inline;
    font-size: 18px;
    margin: 0 10px;
    padding: 5px 10px;
}
