.Comments__item-text {
    background-color: bisque;
    border: 1px solid;
    display: flex;
    flex-flow: row;
    margin: 10px;
    min-height: 150px;
}

.Comments__item-author-block {
    background: url(//www.strategium.ru/forum/uploads/set_resources_2/81210c75befc8e14b5cb873b0bc86bd7_profile_back.gif);
    flex-basis: 200px;
}

.author-block {
    text-align: center;
}

.author-block__username {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin: 0;
    padding: 20px 10px;
}

.author-block__avatar-block {
    display: flex;
    height: 200px;
    justify-content: center;
}

.author-block__avatar-image {
    height: 100%;
}

.author-block__last_login {

}

.Comments__item-text-block {
    flex: 1;
    padding: 10px;
}
